# MySQL
MYSQL_USER=root
MYSQL_PASSWORD=codearena_pass
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=codearena

# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DB=codearena

# Auth
SECRET_KEY=change-this-to-a-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
